<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Space tourism website</title>
    <%- include('./includes/shared/head') %>
    <link rel="stylesheet" href="/styles/error.css">
  </head>
  <body>
    <div id="bg-image">
      <%- include("./includes/shared/header", { selectedTabIndex: -1 }) %>

      <main>
        <h1>Sorry! Something went wrong on our side. We are working hard to get it solved!</h1>
      </main>
    </div>
  </body>
</html>