<ul class="nav-list">
  <li>
    <a href="/"><strong>00</strong> Home</a>
  </li>
  <li>
    <a href="/destination"><strong>01</strong> Destination</a>
  </li>
  <li>
    <a href="/crew"><strong>02</strong> Crew</a>
  </li>
  <li>
    <a href="/technology"><strong>03</strong> Technology</a>
  </li>
</ul>